{% set iconMenu = iconMenu %}
{% set pageName = 'habitatsPage' %}

{% extends "base.html.twig" %}
{% block title %}Arcadia | Animaux {% endblock %}
{% block style %} 
  <link rel="stylesheet" href="{{ asset('assets/scss/css/animals.css') }}?{{ "now"|date("U") }}" type="text/css">
{% endblock %}

{# BODY #}
{% block body %}
  {# HEADER #}
    {% block header %}
        {% include "components/headerConnect.html.twig" %}
    {% endblock %}

  <main id="main">
    {% set i = 0 %}
    {% for animal in allAnimals %}
      <section class="animalsSection name--{{ animal.name }}" style="background-image: url('{{ asset('assets/images/' ~ animal.image) }}')" data-id="{{i}}">
        <h2>{{ animal.name }}</h2>
        <h3>{{ animal.surname }}</h3>
        <div class="detailsAnimal" style="display:none;">
        <img src="{{ asset('assets/images/cross-zoo-arcadia-valentin-burillier.webp') }}"/>
          <ul>
            <li><p>Fiche technique</br>de {{ animal.name }}</p></li>
            <li><p>Espèce : {{ animal.specie.specie }}</p></li>
            <li><p>Date d'arrivée : {{ animal.arrivalDate|date('d/m/Y') }}</p></li>
            <li><p>Habitat : {{ animal.habitat.name }}</p></li>
          </ul>

          <ul>
            <li><p>Notes vétérinaires</br>02/02/12</p></li>
            <li><p>Etat : {{ animal.currentState}}</p></li>
            <li><p>Nourriture :
            {% for foodItem in animal.food %}
              {{ foodItem.name|trim }}{% if not loop.last %}, {% endif %}
            {% endfor %}
            </p></li>
          </ul>
        </div>
      </section>
      {% set i = i + 1 %}
    {% endfor %}
    <ul id="changeAnimalsBtn">
      <li data-li="0"></li>
      <li data-li="1"></li>
      <li data-li="2"></li>
    </ul>
  </main>
  <script src="{{ asset('assets/scripts/changeAnimals.js' )}}?{{ "now"|date("U") }}"></script>
{% endblock %}