{% if habitat.name == 'jungle' %}
  {% set iconMenu = 'zoo-arcadia-green_menu' %}

{% elseif habitat.name == 'savane' %}
  {% set iconMenu = 'zoo-arcadia-brown_menu' %}

{% elseif habitat.name == 'aquatique' %}
  {% set iconMenu = 'zoo-arcadia-blue_menu' %}

{% endif %}

{% set pageName = 'animalPage' %}

{% extends "base.html.twig" %}
{% block title %}Arcadia | {{ animal }} {% endblock %}
{% block style %} 
  <link rel="stylesheet" href="{{ asset('assets/scss/css/animal.css') }}?{{ "now"|date("U") }}" type="text/css">
{% endblock %}

{# BODY #}
{% block body %}
  {# HEADER #}
    <header id="header" class="box-menu">
        {% include "components/nav.html.twig" %}
    </header>

  <main style="background-image: url('../../assets/images/{{image}}')" class="{{ animal }}">
  <section>
  {% for habitat in habitats %}
      {% for anim in habitat.animals %}
        {% if anim.name == animal %}
          <h2>{{ anim.name }}</h2>
          <h2>{{ anim.description }}</h2>
        {% endif %}
      {% endfor %}
   {% endfor %}
  </section>
    <ul>

      {% for habitatTwo in habitats %}
        {% if habitat.name == habitatTwo.name %}
          {% for anim in habitat.animals %}
            {% if anim.name == animal %}
              <li class="selected__{{ anim.name }} list__{{ anim.name }}"></li>
            {% else %}
            <li class="list__{{ anim.name }}"></li>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}

    </ul>
  <section id="cardAnimal">
    <img id="cross" src="{{ asset('assets/images/cross.png') }}"/>
    <img id="view" src="{{ asset('assets/images/view_white.png') }}"/>
    <h2>Fiche technique de<br/> {{ animal }}</h2>
    <p>Espèce : {{ animalData.species }}</p>
    <p>Date d'arrivée : {{ animalData.arrivalDate | date('d/m/Y') }}</p>
    <p>Habitat : {{ animalData.habitat.name }}</p>
    <p>Notes vétérinaires</p>
    {% for dataVeto in animalData.exams %}
      <p>{{ dataVeto.date | date('d/m/Y') }}</p>
      <p>Etat : {{ dataVeto.state }} </p>
      <p>Nourriture : {{ dataVeto.food }} </p>
    {% endfor %}

  </section>
  </main>
  <script src="{{ asset('assets/scripts/changeAnimal.js' )}}"></script>
  <script src="{{ asset('assets/scripts/dataAnimal.js' )}}"></script>
{% endblock %}
