{% set iconMenu = habitatSelected.iconmenu %}
{% set pageName = 'habitatsPage' %}

{% extends "base.html.twig" %}
{% block title %}Arcadia | {{ habitatSelected.name }}{% endblock %}
{% block style %} 
  <link rel="stylesheet" href="{{ asset('assets/scss/css/habitat.css') }}?{{ "now"|date("U") }}" type="text/css">
{% endblock %}

{# BODY #}
{% block body %}
  {# HEADER #}
    {% block header %}
        {% include "components/headerConnect.html.twig" %}
    {% endblock %}

  <main id="main">
    <section id="habitat--selected" class="{{ habitatSelected.name }}" 
      style="background-image: url('{{ asset('assets/images/' ~ habitatSelected.image) }}')">
      <h2 class="{{ habitatSelected.name }}">{{ habitatSelected.name |capitalize }}</h2>
      <p class="{{ habitatSelected.name }}">{{ habitatSelected.description }}</p>
      <button class="{{ habitatSelected.name }}"><a href="{{ path('app_animal', {'name': habitatSelected.name, 'animal': allAnimals[0].name })}}">Découvrir</a></button>
  </section>

  </main>
{% endblock %}