
    {# TESTS DIV COMPUTER
    <div id="left" class="div">
      {{ form_start(formLarge) }}

        <h2>Connexion</h2>
        {{ form_label(formLarge.email) }}  {# Affiche le label #}
        {{ form_widget(formLarge.email) }} {# Affiche le champ input #}
        {{ form_label(formLarge.password) }}  {# Affiche le label #}
        {{ form_widget(formLarge.password) }} {# Affiche le champ input #}
        <button type="submit">Se connecter</button>

      {{ form_end(formLarge) }}
    </div>
    <div id="right" class="div"></div> #}