{% block secondItem %}
<h2>Services</h2>
<ul>
{% for service in services %}

    <details>
    <summary>
      {{ service.title }}
      <div class="cross-container" data-id={{ service.title}}>
        <span>&#10060;</span>
      </div>
    </summary>
    <p>{{ service.description }}</p>
    <p>{{ service.urlIcon }}</p>
  </details> 
{% endfor %}
</ul>
{{form_start(formServices)}}
  <h3>Ajouter un nouveau service</h3>
  {{ form_row(formServices.title) }}
  {{ form_row(formServices.description) }}
  {{ form_row(formServices.url_icon) }}
  <input value="Envoyer" type="submit" class="btn-submit btn-services"/>
{{form_end(formServices)}}
{% endblock %}