{% set iconMenu = 'zoo-arcadia-brown_menu' %}
{% set pageName = 'loginPage' %}

{% extends "base.html.twig" %}
{% block title %}Arcadia | Administrateur{% endblock %}
{% block style %} 
  <link rel="stylesheet" href="{{ asset('assets/scss/css/admin.css') }}?{{ "now"|date("U") }}" type="text/css">
{% endblock %}

{# BODY #}
{% block body %}

  {# HEADER #}
    <header id="header">
        <h1>Arcadia</h1>
    </header>

  <main id="main">
    <ul class="menu">
      <li>
        <h2>Créer un compte</h2>
        {# Affichage des messages flash #}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
        {{ form_start(form) }}
          {{ form_row(form.email) }}
          <div class="containerForm">
          <div>
          <label>{{ form_label(form.roles) }}</label>
          </div>
          <div>
          {% for choice in form.roles %}
            <div class="radio-wrapper">
              {{ form_widget(choice) }}
              {{ form_label(choice) }}
            </div>
          {% endfor %}
          </div>
          </div>
          <input value="Envoyer" type="submit" class="btn-submit"/>
        {{ form_end(form) }}
      </li>
      <li><h2>Services</h2></li>
      <li><h2>Horaires</h2></li>
      <li><h2>Habitat</h2></li>
      <li><h2>Animaux</h2></li>
    <ul>
  </main>

{# SCRIPTS JS #}
{% block scripts %}
  <script src="{{ asset('assets/scripts/admin.js' )}}" defer></script>
{% endblock %}
{% endblock %}