{% extends "base.html.twig" %}
{% block title %}Arcadia | Avis{% endblock %}
{% block style %} 
  <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}?{{ "now"|date("U") }}" type="text/css">
{% endblock %}

{# BODY #}
{% block body %}

{{ form_start(form) }}
    {{ form_row(form.pseudo) }}
    {{ form_row(form.comment) }}

    <div class="stars">
     <label for="{{ form.score.vars.id }}">{{ form.score.vars.label }}</label> <!-- Affiche le label "Note" -->
        {% for choice in form.score %}
            {{ form_widget(choice) }}
            <label><span>{{ form_label(choice) }}</span></label>
        {% endfor %}
    </div>

    <button type="submit">Envoyer</button>
{{ form_end(form) }}





{% endblock %}