{% extends "base.html.twig" %}
{% block title %}Arcadia | Avis{% endblock %}
{% block style %} 
  <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}?{{ "now"|date("U") }}" type="text/css">
{% endblock %}

{# BODY #}
{% block body %}
<img src="{{asset('assets/images/dolphin.jpg')}}"/>
{{ form_start(form) }}
    {{ form_row(form.pseudo) }} {# label + input #}

     <label for="{{ form.score.vars.id }}">{{ form.score.vars.label }}</label> <!-- Affiche le label "Note" -->
     <div class="container_stars">
        {% for choice in form.score %}
            {{ form_widget(choice) }} {# INPUT #}
            {{ form_label(choice, '☆') }} {# LABEL #}
            {# <label><span>{{ form_label(choice) }}</span></label> #}
        {% endfor %}
    </div>
    {# {{ form_row(form.comment) }}
    <button type="submit">Envoyer</button> #}
{{ form_end(form) }}





{% endblock %}