{% set iconMenu = 'menu_blue' %}
{% set pageName = 'reviews' %}
{% extends "base.html.twig" %}
{% block title %}Arcadia | Avis{% endblock %}
{% block style %} 
  <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}?{{ "now"|date("U") }}" type="text/css">
{% endblock %}

{# BODY #}
{% block body %}
<header id="header__{{ pageName }}">
{% include "components/nav.html.twig" %}
</header>

<main id="main__{{ pageName }}">
{{ form_start(form) }}
      {{ form_label(form.pseudo) }}  {# Affiche le label #}
    {{ form_widget(form.pseudo) }} {# Affiche le champ input #}

     <label for="{{ form.score.vars.id }}">{{ form.score.vars.label }}</label> <!-- Affiche le label "Note" -->
     <div class="container_stars">
        {% for choice in form.score %}
            {{ form_widget(choice) }} {# INPUT #}
            {{ form_label(choice, '☆') }} {# LABEL #}
            {# <label><span>{{ form_label(choice) }}</span></label> #}
        {% endfor %}
    </div>
     {{ form_label(form.comment) }}  {# Affiche le label #}
    {{ form_widget(form.comment) }} {# Affiche le champ input #}
    <button type="submit">Envoyer</button>
{{ form_end(form) }}


{% endblock %}