{% set iconMenu = 'zoo-arcadia-green_menu.webp' %}

{% extends "base.html.twig" %}
{% block title %}Arcadia | Contact{% endblock %}
{% block style %} 
  <link rel="stylesheet" href="{{ asset('assets/scss/css/contact2.css') }}?{{ "now"|date("U") }}" type="text/css">
{% endblock %}

{# BODY #}
{% block body %}

  {# HEADER #}
    {% block header %}
        {% include "components/headerConnect.html.twig" with { 'class': 'fill bg--green'} %}
    {% endblock %}

  <main class="bg-contact">
    {% block formContact %}
      {% include "components/formContact.html.twig" %}
    {% endblock %}
  </main>
  
  {% block f_socialsNetwork %}
    {% include "components/footer_socialsNetwork.html.twig" %}
  {% endblock %}

<script src="{{ asset('assets/scripts/forms/controlContactForm.js' )}}?{{ "now"|date("U") }}"></script>
<script src="{{ asset('assets/scripts/menuBurger.js' )}}"></script>
{% endblock %}