{% set iconMenu = 'zoo-arcadia-green_menu' %}
{% set pageName = 'contact' %}

{% extends "base.html.twig" %}
{% block title %}Arcadia | Contact{% endblock %}
{% block style %} 
  <link rel="stylesheet" href="{{ asset('assets/scss/css/contact2.css') }}?{{ "now"|date("U") }}" type="text/css">
{% endblock %}

{# BODY #}
{% block body %}

  {# HEADER #}
    {% block header %}
        {% include "components/headerConnect.html.twig" with { 'class': 'fill bg--green'} %}
    {% endblock %}

  <main class="bg-contact">
 {{ form_start(form) }}
    <h2>Demande de contact</h2>
    <div class="container-data">
        {{ form_label(form.title) }}  {# Affiche le label #}
        {{ form_widget(form.title) }} {# Affiche le champ input #}
        <span id="titleError"></span>
        {{ form_label(form.description) }}  {# Affiche le label #}
        {{ form_widget(form.description) }} {# Affiche le champ input #}
        <span id="descriptionError"></span>
        {{ form_label(form.mail) }}  {# Affiche le label #}
        {{ form_widget(form.mail) }} {# Affiche le champ input #}
        <span id="emailError"></span>
        {{ form_label(form.message) }}  {# Affiche le label #}
        {{ form_widget(form.message) }} {# Affiche le champ input #}
        <span id="messageError"></span>
        </div>
        <button type="submit">Envoyer</button>
    {{ form_end(form) }}
  </main>
  
  {% block f_socialsNetwork %}
    {% include "components/footer_socialsNetwork.html.twig" %}
  {% endblock %}

<script src="{{ asset('assets/scripts/forms/controlContactForm.js' )}}?{{ "now"|date("U") }}"></script>
{% endblock %}