{% block header %}
<header class="{{ class|default('default-class') }}">
    <nav>
        <h1 class="main__title"><a href="{{ path('app_home') }}">Arcadia</a></h1>
        <img src="{{asset('assets/images/'~ iconMenu)}}" class="iconMenu__header"/>
        <ul class="menu hidden">
          <img src="{{ asset('assets/images/cross-zoo-arcadia-valentin-burillier.webp') }}" class="crossMenu"/>
          <li><a href="{{ path('app_services')}}">Services</a></li>
          <li><a href="{{ path('app_habitats') }}">Habitats</a></li>
          <li><a href="{{ path('app_contact') }}">Contact</a></li>
          <li><a href="{{ path('login') }}">Connexion</a></li>
        </ul>
    </nav>
</header>
{% endblock %}