{% block formReport %}
<li id="formReportAnimal">
    {{ form_start(formReport) }}
        {{ form_row(formReport.animal) }}
        {{ form_row(formReport.food) }}
        {{ form_row(formReport.weight) }}
        {{ form_row(formReport.date) }}
        {{ form_row(formReport.details) }}
        <button class="btn btn-primary">Envoyer</button>
    {{ form_end(formReport) }}
 </li>
{% endblock %}