{% set iconMenu = 'zoo-arcadia-green_menu' %}
{% set pageName = 'EmployePage' %}

{% extends "base.html.twig" %}
{% block title %}Arcadia | Interface Employe{% endblock %}
{% block style %} 
  <link rel="stylesheet" href="{{ asset('assets/scss/css/employe.css') }}?{{ "now"|date("U") }}" type="text/css">
{% endblock %}

{# BODY #}
{% block body %}

    <header>
        <h1>Arcadia</h1>
        <nav>
            <ul>
                <li><h2>Avis à vérifier</h2></li>
                <li><h2>Services</h2></li>
                <li><h2>Alimentation</h2></li>
            </ul>
        </nav>
    </header>


    <main id="main">
        {# {% block formEmploye %}
            {% include "components/formEmploye.html.twig" %}
        {% endblock %} #}
        {% for review in reviews %}
                <ul id="reviews__list">
                    <ul class="user__data">
                        <li>19/09/24</li>{# <li>{{ review.date }}</li> #}
                        <li>{{ review.pseudo }}</li>
                    

                    <li id="stars__score">
                        {% set score = review.score %}
                        {% for i in 1..5 %}
                            <img src="{{ asset('assets/images/gold_star.png') }}" width="20" height="20" />
                        {% endfor %}
                    </li>

                    
                    <li id="icon__statut">
                        <img src="{{ asset('assets/images/zoo-arcadia-valid.webp') }}" width="20" height="20" />
                        <img src="{{ asset('assets/images/zoo-arcadia-cancel.webp') }}" width="20" height="20" />
                    </li>
                    </ul>
                    <li>{{ review.comment }}</li>
                    <hr />
                </ul>
            {% endfor %}
    </main>
    <script src="{{ asset('assets/scripts/test.js' )}}"></script>
{% endblock %}