{% set iconMenu = 'zoo-arcadia-green_menu' %}
{% set pageName = 'VétérinairePage' %}

{% extends "base.html.twig" %}
{% block title %}Arcadia | Interface Vétérinaire{% endblock %}
{% block style %} 
  <link rel="stylesheet" href="{{ asset('assets/scss/css/veterinaire.css') }}?{{ "now"|date("U") }}" type="text/css">
{% endblock %}

{# BODY #}
{% block body %}

    {# IMPORT HEADER #}
    {% block header %}
        {% include "user/veterinaire/header.html.twig" %}
    {% endblock %}

    <main id="main">
    <ul>
        {% for habitat in habitats %}
        <li id="{{ habitat.name }}" class="tasks">
            <h2 class="listClose" data-title="{{ habitat.name }}">{{ habitat.name }}</h2>
            <section class="habitatClose">
                {% for animal in habitat.animals %}
                <section class="dataAnimals">
                <h3 class="animalClose">{{ animal.name }}</h3>
                    
                    {# IMPORT LAST MEAL SECTION #}
                    <section class="mealAnimal">
                        {% block lastMeal %}
                            {% include "user/veterinaire/lastMeal.html.twig" %}
                        {% endblock %}
                    </section>

                </section>
                {% endfor %}
            </section>
        </li>
        {% endfor %}
     
            {% block formComment %}
                {% include "user/veterinaire/formComment.html.twig" %}
            {% endblock %}

            {% block formReport %}
                {% include "user/veterinaire/formReport.html.twig" %}
            {% endblock %}
    </ul>
    </main>

    <script src="{{ asset('assets/scripts/veterinaire.js' )}}"></script>
{% endblock %}